{{example-header title="Badges"}}

<div class='container'>
  <div class="section">
    <div class="intro">
        <h4 class="col s12 header">The component supports one option:</h4>
        <ul>
          <li>text, default value <span class="default-value badge">null</span></li>
        </ul>
      </div>
  </div>
  <div class="section">
    {{example-snippet snippet='badges-simple'}}
  </div>
</div>
